.container
{
    width: calc(100vw);
    height: 100vh;
    background-color: rgba(255,255,255,0.77);
    position: fixed;
    left:0;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.wrapper
{
    background-color: rgba(239, 239, 239, 0.85);
    height: 250px;
    width: 400px;
    border-radius: 10px;
    padding: 30px;
}

.form
{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    font-size: 16px;
}

.form input,select
{
    height: 40px;
    background-color: white;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1); 
    padding-left: 10px;
}

.add
{
    height: 40px;
    background-color: white;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(244, 187, 74, 1);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.cancel
{
    height: 40px;
    background-color: white;
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1); 
    background-color: rgba(217, 217, 217, 1);
    width: 80px;
    cursor: pointer;
}

@media screen and (max-width:512px)
{
    .wrapper
    {
       
        height: 300px;
        width: 260px;
        justify-content: center;
    }

    .form
    {
        padding: 0;
        flex-wrap: nowrap;
    }

    .form>input
    {
        width: 110px;
    }

    .cancel, .add
    {
        width: 120px;
    }
}

