.wrapper
{
    width: 50vw;
    background-color: white;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.transactions
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.pagination
{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 24px;
    position: absolute;
    bottom: 0;
}

.navigation
{
    background-color: rgba(241, 241, 241, 1);
    height: 37px;
    width: 37px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.page
{
    background-color: rgba(67, 150, 123, 1);
    height: 37px;
    width: 37px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.notransactions
{
    color: rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 32px;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width:1080px) 
{
    .wrapper
    {
        width: 45vw;
    }
}

@media screen and (max-width:950px) 
{
    .wrapper
    {
        width: 90vw;
    }  
}

@media screen and (max-width:466px) 
{
    .wrapper
    {
        height: 510px;
    }
}
