.pieChart
{
    width: 330px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1256px) 
{
    .pieChart
    {
       margin-bottom: 30px;
    }
}


@media screen and (max-width:540px) 
{
    .pieChart
    {
        width: 60vw;
    }
}

